
<% unless is_me %>
  <% if idea.chosen_by_id.nil? || idea.chosen_by == current_user %>
    <%= simple_form_for(idea, remote: true) do |f| %>
      <%= f.input :chosen_by_id, as: :hidden, input_html: { value: idea.chosen_by_id.nil? ? current_user.id : nil } %>
      <%= f.input :status, as: :hidden, input_html: { value: !idea.status } %>
      <input class='d-none' type="text" name="list" value=true>
      <button type="submit" class="<%= idea.status ? 'btn btn-selected m-2' : 'btn btn-primary m-2' %>">
        <%= idea.status ? 'Rendre' : 'Choisir' %>
      </button>
    <% end %>
  <% else %>
    <div class="d-flex align-items-center profile-img">
      <%= link_to idea_path(idea) do %>
        <%= cl_image_tag idea.chosen_by.photo.key, class: "avatar-small"%>
      <% end %>
    </div>
  <% end %>
<% end %>
