
<div class="list_container">
  <div class="basile">
    <h2 id="events-title" class="view"><%= link_to @list.event.name.upcase, event_path(@list.event) %></h2>
    <%= cl_image_tag @list.user.photo.key, class: "avatar-small mr-3" %>
  </div>
    <ul class="list-card">
      <% @list.ideas.each do |idea| %>
        <div id="idea_container_<%= idea.id%>">
          <%= render 'lists/list_show_ideacontent', list: @list, idea: idea, current_user: current_user %>
        </div>



      <% end %>

      <% if @list.user == current_user %>
      <!-- modal add idea -->
      <div class="grow-card btn-center" type="" data-toggle="modal" data-target='#<%= "staticBackdrop#{@list.id}" %>' style="display: flex; align-items: center; justify-content: center;">
        <%= image_tag 'picto_add.png', width: 60, class: "picto-add" %>
      </div>

<div class= "mt-3">
   <%= simple_form_for @list.event, url: invite_users_event_path(@list.event), method: :post  do |f| %>
    <%= f.input :emails, collection: [], input_html: { class: "js-example-basic-multiple", name: "emails[]", multiple: "multiple"}, label: "Invite ta MIF à l'événement !" %>
    <%= f.submit "Envoyer", class: "btn btn-primary btn-bleu" %>
   <% end %>

</div>
      <% end %>

    </ul>

</div>

<!-- modal idea -->
  <%= render 'lists/modal_white', list: @list %>


  <% content_for :after_js do %>
    <script>

      scrollLastMessageIntoView();
      App['list_<%= @list.id %>'] = App.cable.subscriptions.create({ channel: 'ListsChannel', list_id: <%= @list.id %>}, {
        received: (data) => {
          if (data.comment_partial) {
            const ideaComment = document.getElementById(`idea_${data.idea_id}`);
            ideaComment.insertAdjacentHTML("beforeend", data.comment_partial);
            scrollLastMessageIntoView();
          }

          if (data.idea_content_partial) {
            const ideaContent = document.getElementById(`idea_container_${data.idea_id}`);
            ideaContent.innerHTML = data.idea_content_partial;
          }
        }
      })
    </script>
  <% end %>




