
<div class="idea-container <%= idea.bought ? 'bought' : '' %> pl-2">
  <div class="d-flex idea-card align-content-center justify-content-between m-2 p-2">

    <div class="d-flex">

      <div class="d-flex align-items-center justify-content-center mr-3">
        <%= cl_image_tag idea.photo.key, height: 175, width: 175 if idea.photo %>
      </div>

      <div class="gift-title ml-1 pt-2">
        <strong><%= idea.title.upcase %></strong>
        <div class="gift-description">
          <%= idea.description %>
        </div>
      </div>

    </div>


    <div class="forms-container d-flex align-items-center justify-content-center flex-column">


      <% if idea.bought %>
        <div class="emoji mr-4">
        <%= link_to '✅', bought_idea_path(idea), method: :patch %>
        </div>
      <% else %>
        <div class="emoji mr-4">
        <%= link_to '⬜️', bought_idea_path(idea), method: :patch %>
        </div>
      <% end %>

      <%#= simple_form_for(idea, remote: true) do |f| %>
        <%#= f.input :chosen_by_id, as: :hidden, input_html: { value:  nil } %>
        <%#= f.input :status, as: :hidden, input_html: { value: false } %>
        <%#= f.input :bought, as: :hidden, input_html: { value: false } %>
<!--        <input class='d-none' type="text" name="giftlist" value=true>-->
<!--        <button type="submit" class="btn btn-selected m-2 acheter">Rendre</button>-->
      <%# end %>
    </div>

    <%#= simple_form_for(idea, remote:true) do |f| %>
      <%#= f.input :bought, as: :boolean%>
    <%# end %>

  </div>
</div>
