
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title nouvelle-idee" id="exampleModalLongTitle">NOUVEL EVENEMENT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="topo">
          <p> Je crée ma nouvelle fiesta ici !</p>
        </div>

        <%= simple_form_for event do |f| %>
        <div class="form-group">
          <%= f.input :name, placeholder: 'Nom de mon évènement :', label: false, input_html: { class: 'form-spe' } %>
        </div>
        <div class="form-group">
          <%= f.simple_fields_for :lists do |l| %>
            <%= l.input :title, placeholder: 'Nom de ma liste :', label: false, input_html: { class: 'form-spe' }  %>
          <% end %>
        </div>
          <%= f.input :date, as: :string, required: false, label: false, placeholder: "Indiquer la date des festivités:", input_html: {class: "datepicker"} %>
          <%= f.submit "Créer mon évènement", class: "btn btn-primary btn-bleu" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
