
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header-white">
        <button type="button" class="close p-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="modal-title nouvelle-idee" id="exampleModalLongTitle">NOUVEL EVENEMENT</p>
      </div>
      <div class="modal-body">
        <div class="topo">
          <p> Je crée ma nouvelle fiesta ici !</p>
        </div>

        <%= simple_form_for event do |f| %>
        <div class="form-group">
          <%= f.input :name, placeholder: 'Mon évènement', label: false, input_html: { class: 'form-spe' } %>
        </div>
        <div class="form-group">
          <%= f.simple_fields_for :lists do |l| %>
            <%= l.input :title, placeholder: 'Ma liste', label: false, input_html: { class: 'form-spe' }  %>
          <% end %>
        </div>
          <%= f.input :date, as: :string, required: false, label: false, placeholder: "Date des festivités", input_html: {class: "datepicker"} %>
          <%= f.submit "Créer", class: "btn btn-primary btn-bleu" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
