
<div class="wrapper-yield py-4">

  <div class="circle-div">
    <div class="title-event" >
      <h1><%= @event.name %></h1>
      <a class="button-coral btn-clipboard text-white" data-clipboard-text='<%= event_url(@event.token) %>' >
        Partager mon événement
      </a>
    </div>

    <ul class='circle-container'>
      <% @lists.each do |list| %>
        <% is_me = list.user == @user %>
        <li>
          <div class='grow'>
            <%= cl_image_tag list.user.photo.key, class: "avatar-bordered #{'avatar-bordered-me' if is_me}", data: { toggle: "modal", target: "#modal-list-#{list.id}" } %>
          </div>
        </li>
      <% end %>
    </ul>

    <% @lists.each do |list| %>
      <% is_me = list.user == @user %>
      <div class="modal fade" id="modal-list-<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header <%= 'modal-header-me' if is_me %>">
              <div class="d-flex align-items-center">
                <%= cl_image_tag list.user.photo.key, class: "avatar-small mr-3", data: { toggle: "modal", target: "#modal-list-#{list.id}" } %>
                <h3 class="hoover-list"><%= link_to "#{list.title}", list_path(list) %></h3>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <div class="modal-body">

              <% list.ideas.each do |idea| %>

                <div id="modal-idea-<%=idea.id%>">
                <%= render 'idea_modal', idea: idea, is_me: is_me %>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
